* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;

}

header {
  background-color: powderblue;
  padding: 10px;
  overflow: auto;

  position: sticky;
  top: 0;
}

ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: black;
}

.logo {
  float: left;
}

nav {
  float: right;
}

content {
  clear: both;
  
}

content > h1, content > p {
  padding: 20px;
}

.btn-top {
  border: 1px solid lightgray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;

  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-top > i {
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: gray;
}

.btn-top:hover {
  background : rgb(253, 206, 206)
}