.container {
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container > div {
  height: 100px;
  width: 100px;
  background: red;
  margin: 5px;
}=]