@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: '770Balsa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/770Balsa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: "Arvo", serif;
  font-weight: 400;
}




