body {
  /* background-image: url("/images/galio.jpg"); */
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center center;
  height: 3000px;
  background-attachment: fixed;

  background: skyblue url("/./images/garen.jpg") no-repeat center center fixed;
              
  /* background: linear-gradient(to right bottom, blue, pink); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  
}
h1 {
  background-color: #ff8081;
}
.bg {
  background-color: rgba(100, 255, 50, 0.3);
}
p {
  background-color: rgb(255, 100, 25);
}
